<div class="row"> 
    <div class="container">
        <h2> Vehiculos Registrados </h2>
        <div class="row">
            <ng-container *ngFor="let vehiculo of vehiculos  | paginate: { itemsPerPage: 6, currentPage: p }; let i = index" [ngSwitch]="vehiculo.tipoVehiculo.id" >          
                <div class="panel panel-primary col-md-4" >                    
                    <h4 class="card-header"> 
                        <span  *ngSwitchCase = "1" [ngStyle]="{color: 'gray'}"> <fa-icon [icon]="['fas', 'car-side']" size="2x" ></fa-icon></span>
                        <span  *ngSwitchCase = "2" [ngStyle]="{color: 'brown'}"> <fa-icon [icon]="['fas', 'motorcycle']" size="2x" ></fa-icon></span>                                   
                        {{vehiculo.tipoVehiculo.descripcion}}
                    </h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title">Placa: {{vehiculo.placa}}</h5>                   
                            </div>
                            <span  *ngSwitchCase = "2">
                            <div class="col-md-6">
                                <h5 class="card-subtitle">Cilindraje: {{vehiculo.cilindraje}} CC</h5>
                            </div>     
                        </span>
                        </div>
                    </div>
                    </div>        
            </ng-container>
        </div>        
        <pagination-controls class="pagination justify-content-center" (pageChange)="p = $event" responsive="true"  previousLabel="" nextLabel="" ></pagination-controls>
    </div> 
</div>

